{% extends "layout.html" %}

{% block content %}

<style>
    body, .stage {
        background: #042029;
    }

    .tablet {
        padding: 10px 10px 10px 10px;
        background-color: whitesmoke;
    }
    #forward-pass-data {
        display: none;
    }
</style>


<script id="forward-pass-js" type="text/javascript">
    var data = JSON.parse('{{ data|tojson|safe }}');
</script>

<div class="jumbotron">
    <h1>{{ title }}</h1>
    <h2><img class="shrinkToFit decoded" alt="http://www.tdvision.com/AILEENN/Icons/NeuralNetwork.PNG" src="http://www.tdvision.com/AILEENN/Icons/NeuralNetwork.PNG" width="180" /> {{ message }}</h2>


    <div class="row">
        <div class="col-md-12">
            <h3>Map</h3>
            <div id="graph"></div>
            <script type="text/javascript">

                var w = 900,
                    h = 400;

                var circleWidth = 5;

                var fontFamily = 'Bree Serif',
                    fontSizeHighlight = '1.5em',
                    fontSizeNormal = '1em';

                var palette = {
                    "lightgray": "#819090",
                    "gray": "#708284",
                    "mediumgray": "#536870",
                    "darkgray": "#475B62",
                    "darkblue": "#0A2933",
                    "darkerblue": "#042029",
                    "paleryellow": "#FCF4DC",
                    "paleyellow": "#EAE3CB",
                    "yellow": "#A57706",
                    "orange": "#BD3613",
                    "red": "#D11C24",
                    "pink": "#C61C6F",
                    "purple": "#595AB7",
                    "blue": "#2176C7",
                    "green": "#259286",
                    "yellowgreen": "#738A05"
                }

                // example nodes:
                //var nodes = [
                //                { "name": "Bear" },
                //                { "name": "Eat" },
                //                { "name": "Princess" },
                //                { "name": "Kill" },
                //                { "name": "Bear" }
                //]

                var nodes = data;

                // example links:
                //var links = [
                //                { source: nodes[0], target: nodes[1] },
                //                { source: nodes[1], target: nodes[2] },
                //                { source: nodes[0], target: nodes[3] },
                //                { source: nodes[4], target: nodes[2] },
                //                { source: nodes[2], target: nodes[3] }
                //]

                //extend underscore with flatMap function by composing it 
                _.flatMap = _.compose(_.flatten, _.map);

                var util = {
                    rooms: nodes,
                    lookup: function (name) {
                        return _.filter(util.rooms, function (room) {
                            return room.name == name;
                        })[0];
                    },
                    generate_links: function () {
                        var links = _.flatMap(util.rooms, function (room) {
                            return _.map(room.paths, function (path) {
                                return { source: util.lookup(path[0]), target: util.lookup(path[1]) };
                            });
                        });
                        return links;
                    }
                };

                var links = util.generate_links();


                var vis = d3.select("#graph")
                    .append("svg:svg")
                      .attr("class", "stage")
                      .attr("width", w)
                      .attr("height", h);

                var force = d3.layout.force()
                    .nodes(nodes)
                    .links([])
                    .gravity(0.1)
                    .charge(-1000)
                    .size([w, h]);

                var link = vis.selectAll(".link")
                       .data(links)
                       .enter().append("line")
                         .attr("class", "link")
                         .attr("stroke", "#CCC")
                         .attr("fill", "none");

                var node = vis.selectAll("circle.node")
                     .data(nodes)
                     .enter().append("g")
                     .attr("class", "node")

                     //MOUSEOVER
                     .on("mouseover", function (d, i) {
                         if (i > 0) {
                             //CIRCLE
                             d3.select(this).selectAll("circle")
                             .transition()
                             .duration(250)
                             .style("cursor", "pointer")
                             .attr("r", circleWidth + 3)
                             .attr("fill", palette.orange);

                             //TEXT
                             d3.select(this).select("text")
                             .transition()
                             .style("cursor", "none")
                             .duration(250)
                             .style("cursor", "none")
                             .attr("font-size", "1.5em")
                             .attr("x", 15)
                             .attr("y", 5)
                         } else {
                             //CIRCLE
                             d3.select(this).selectAll("circle")
                             .style("cursor", "none")

                             //TEXT
                             d3.select(this).select("text")
                             .style("cursor", "none")
                         }
                     })

                     //MOUSEOUT
                     .on("mouseout", function (d, i) {
                         if (i > 0) {
                             //CIRCLE
                             d3.select(this).selectAll("circle")
                             .transition()
                             .duration(250)
                             .attr("r", circleWidth)
                             .attr("fill", palette.pink);

                             //TEXT
                             d3.select(this).select("text")
                             .transition()
                             .duration(250)
                             .attr("font-size", "1em")
                             .attr("x", 8)
                             .attr("y", 4)
                         }
                     })

                     .call(force.drag);


                //CIRCLE
                node.append("svg:circle")
                  .attr("cx", function (d) { return d.x; })
                  .attr("cy", function (d) { return d.y; })
                  .attr("r", circleWidth)
                  .attr("fill", function (d, i) { if (i > 0) { return palette.pink; } else { return palette.paleryellow } })

                //TEXT
                node.append("text")
                  .text(function (d, i) { return d.name; })
                .attr("x", function (d, i) { return circleWidth + 5; })
                  .attr("y", function (d, i) { if (i > 0) { return circleWidth + 0 } else { return 8 } })
                  .attr("font-family", "Bree Serif")
                  .attr("fill", function (d, i) { return palette.paleryellow; })
                  .attr("font-size", function (d, i) { return "1em"; })
                  .attr("text-anchor", function (d, i) { if (i > 0) { return "beginning"; } else { return "end" } })



                force.on("tick", function (e) {
                    node.attr("transform", function (d, i) {
                        return "translate(" + d.x + "," + d.y + ")";
                    });

                    link.attr("x1", function (d) { return d.source.x; })
                        .attr("y1", function (d) { return d.source.y; })
                        .attr("x2", function (d) { return d.target.x; })
                        .attr("y2", function (d) { return d.target.y; })
                });

                force.start();

            </script>
        </div>
    </div>








    <div class="row">
        <div class="col-md-6">
            <h3>Deep Structure</h3>
            <blockquote>
                <p>The sentences "Pat loves Chris" and "Chris is loved by Pat" mean roughly the same thing and use similar words. Some linguists, in particular Noam Chomsky, have tried to account for this similarity by positing that these two sentences are distinct surface forms that derive from a common deep structure.</p>
                <footer>Wikipedia: http://en.wikipedia.org/wiki/Deep_structure </footer>
            </blockquote>
            <p>
                "the exterior is the result of the interior." As you look at the appearance of an object you are simply looking at it's surface structure. Below the surface you get to the interior which gives form to the exterior. The interior semantic structure gives rise to the words that are expressed in language. The same is true for any piece of art. The artist uses a composition of signifiers to communicate the deeper structure of the relationship of the signified.
                An example of how a sentence can be structured based on it's Deep Structure:

                John saw Sarah hug Nick
            </p>
            <ul>
                <li>John saw Sarah hug Nick</li>
                <li>Nick got hugged by Sarah and John saw</li>
            </ul>
            <img class="shrinkToFit decoded" alt="http://2.bp.blogspot.com/_e6Cl1fGJckk/TMhwo6PUptI/AAAAAAAAAOY/FFdJlffuVHE/s640/TM+Theory.jpg" src="http://2.bp.blogspot.com/_e6Cl1fGJckk/TMhwo6PUptI/AAAAAAAAAOY/FFdJlffuVHE/s640/TM+Theory.jpg" width="400" />
        </div>
        <div class="col-md-6">
            <h3>Chord Progression</h3>
            <blockquote>
                <p>A chord progression (or harmonic progression) is a series of musical chords, or chord changes that "aims for a definite goal" of establishing (or contradicting) a tonality founded on a key, root or tonic chord and that is based upon a succession of root relationships. Chords and chord theory are generally known as harmony.</p>
                <footer>Wikipedia: http://en.wikipedia.org/wiki/Chord_progression </footer>
            </blockquote>
            <img src="http://blogs.law.harvard.edu/dowbrigade/files/2012/02/brain6.jpg" width="200" />
        </div>
    </div>


</div>

{% endblock %}

